html,
body,
#root {
  height: 100%;
}
 *{
  box-sizing: border-box;
  margin: 50;
  padding: 0;
  outline: none;
 
 }
.App {
 
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background-color: #009688;
  
}

.App .card {
  max-width: 700px;
  width: 100%;
  text-align: center;
  border-radius: 10%;


}

label.radio {
  display: block;
  text-align: left;
  padding: 15px;
  margin-bottom: 5px;
  font-size: 20px;
}

label.radio+.radio {
  margin-left: 0;
}

label.radio input {
  margin-right: 10px;
}
.num{
  margin: 30px;
 text-align: left;
}
.btn{
  padding: 15px 45px;
  background-color: #009688;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  margin-left: 10px;
  
}

.btn1{
 position: static;
  padding: 15px 45px;
  background-color: #009688;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  margin-left: -400px;
  
}
.indicator div{
  height: 30px;
  width: 40px;
  display: inline-block;
  background-color: #cccccc;
  margin-right: 3px;
  margin-top: 15px;
  margin-bottom:10px;
  color: #009688;
  cursor: pointer;
}


i{
  font-size: 60px;
  margin-top: 10px;
  color: #009688;
  margin-bottom: 30px;
  
}

header{
  height: 40px;
  width: 10px;
  background: white;
  padding-top: 20px;

 
}
.nom{
height: 40px;
width: 350px;
margin-top: -665px;
position: fixed;
font-size: 20px;
border:none;
}
.nom1{
  height: -50px;
width: 520px;
margin-top: -665px;
position: fixed;
font-size: 20px;
color: #009688;

  }
  
 

